@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC');

body,
html {
    font-family: 'Noto Serif SC', serif;
    margin: 0;

    a {
        text-decoration: none;
    }

}

header {
    padding: 2em;
    border-bottom: 5px;
    border-bottom-color: lightgray;
    border-bottom-style: solid;

    .logo {
        color: black;
        font-weight: bold;
    }

    .menu-btn {
        width: 20px;
        float: right;
        cursor: pointer;
    }
}

section {
    padding: 4em;

    h1 {
        font-size: 4em;
        margin: 1em auto;
        width: 70%;
        display: none;
        opacity: 0;

        &::after {
            content: ' ';
            border-top: 5px solid lightgray;
            display: none;
            margin-top: 10px;
        }
    }

    h2 {
        display: none;
        opacity: 0;
    }

    @media screen and (max-width: 500px) {
        h1 {
            font-size: 2em;
        }
    }

    // contact section
    h2 {
        font-size: 3em;
    }

    ul {
        list-style-type: none;

        li {
            margin-bottom: 10px;
            display: none;
            opacity: 0;
            font-size: 2em;

            .material-icons {
                font-size: 2em;
                margin-right: 2%;
            }

            a {
                color: black;
                font-weight: bold;
            }
        }
    }

    @media screen and (max-width: 500px) {
        h2 {
            font-size: 2em;
        }

        ul {
            li {
                font-size: 1em;
            }

            .material-icons {
                font-size: 1em;
            }
        }
    }

    // about section
    .section-about {
        overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        border-right: .15em solid black;
        /* The typwriter cursor */
        white-space: nowrap;
        /* Keeps the content on a single line */
        margin: 0 auto;

        /* Gives that scrolling effect as the typing happens */
        // letter-spacing: .15em;
        /* Adjust as needed */
        .section-about:nth-of-type(1) {
            animation:
                typing 3.5s steps(30, end),
                blink-caret .5s step-end infinite;
        }

        /* The typing effect */
        @keyframes typing {
            from {
                width: 0
            }

            to {
                width: 100%
            }
        }

        /* The typewriter cursor effect */
        @keyframes blink-caret {

            from,
            to {
                border-color: transparent
            }

            50% {
                border-color: orange
            }
        }
    }



    // end of about section
}

nav {
    position: absolute;
    background: black;
    padding: 2em;
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    display: none;
    transform: scaleX(0);
    transform-origin: right;

    .close-btn {
        width: 20px;
        float: right;
        cursor: pointer;
        opacity: 0;
    }

    ul {
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        width: 80%;

        a {
            color: white;
            font-weight: bold;
            font-size: 1.4em;
        }

        span {
            color: lightgray;
            display: block;
            font-size: .75em;
            margin-top: 20px;
        }

        li {
            opacity: 0;
            margin: 0.5em;
        }
    }
}

.show-menu {
    display: block;
    animation: slide-menu 0.5s ease-in forwards;
    z-index: 500;

    .close-btn {
        animation: show-x 1s 1s forwards;
    }

    li:nth-of-type(1) {
        animation: menu-item-anim .3s forwards 1s ease-in-out;
    }

    li:nth-of-type(2) {
        animation: menu-item-anim .3s forwards 1.2s ease-in-out;
    }

    li:nth-of-type(3) {
        animation: menu-item-anim .3s forwards 1.4s ease-in-out;
    }

    li:nth-of-type(4) {
        animation: menu-item-anim .3s forwards 1.6s ease-in-out;
    }

    @media screen and (max-width: 500px) {
        ul {
            display: block;

            li {
                margin-bottom: 2em;
            }
        }
    }
}

@keyframes slide-menu {
    from {
        transform: scaleX(0);
        opacity: 0.85;
    }

    to {
        transform: scaleX(1);
        opacity: 0.85;
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes menu-item-anim {
    0% {
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1);
    }

    4.1% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 125.912, 0, 1);
    }

    8.11% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 31.647, 0, 1);
    }

    12.11% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -5.53, 0, 1);
    }

    16.12% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -13.007, 0, 1);
    }

    27.23% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.352, 0, 1);
    }

    38.34% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.311, 0, 1);
    }

    60.56% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.007, 0, 1);
    }

    82.78% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    100% {
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

.animation-entry {
    li {
        display: flex;
    }

    li:nth-of-type(1) {
        animation: menu-item-anim 1s forwards 1s ease-in-out;
    }

    li:nth-of-type(2) {
        animation: menu-item-anim 2s forwards 1.2s ease-in-out;
    }

}

.animation-fade-in {
    display: block;
    animation: menu-item-anim 1s forwards 1.2s ease-in-out;

    &::after {
        animation: menu-item-anim 2s forwards 1.4s ease-in-out;
        display: block;
        z-index: -1000;
    }
}

@keyframes slide-to-top {
    from {
        transform: scaleY(0);
        opacity: 0.85;
    }

    to {
        transform: scaleY(1);
        opacity: 0.85;
    }
}